.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}
.header .title {
  font-size: 3rem;
  color: #526488;
}

.header ul {
  display: flex;
}

.header a {
  display: inline-block;
  background:#394760;
  color: #fff;
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 2px;
}

.header a:hover{
  background: #263040;
}

.header .jokesActive {
  background: #666;
}
.header .aboutActive {
  background: #666;
}
.homeActive {
  background: #666;
  color: blue;
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
